@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-clr {
  background: linear-gradient(
    155deg,
    rgb(246, 173, 2) 0%,
    rgb(224, 10, 10) 25%,
    rgb(118, 14, 159) 100%
  );
}

.my-font {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
