.submit12 {
  background-color: #55c2da;
  color: rgb(28, 13, 13);
  font-size: large;
  font-weight: bolder;
  padding: 10px 20px;
  margin: 8px 0;
  border: #4caf50;
  border-radius: 10px;
  cursor: pointer;
  width: 2 rem;
  margin-left: 45vw;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 900px) {
  .custom {
    justify-content: center;
  }

  .submit12 {
    margin-left: 35vw;
  }

  .custom2 {
    min-width: 80%;
  }
}

@media only screen and (max-width: 1200px) {
  .custom2 {
    min-width: 60%;
  }
  .submit12 {
    margin-left: 45vw;
  }
}

@media only screen and (max-width: 700px) {
  .custom3 {
    min-width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .custom2 {
    min-width: 90%;
  }
  .submit12 {
    margin-left: 35vw;
  }
}
